<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="greetings"
		label="COM_HELLOWORLD_CONFIG_GREETING_SETTINGS_LABEL"
		description="COM_HELLOWORLD_CONFIG_GREETING_SETTINGS_DESC"
	>

		<field name="show_HELLOWORLD_category"
			type="list"
			default="hide"
			label="COM_HELLOWORLD_FIELD_HELLOWORLD_SHOW_CATEGORY_LABEL"
			description="COM_HELLOWORLD_FIELD_HELLOWORLD_SHOW_CATEGORY_DESC"
		>
			<option value="hide">JHIDE</option>
			<option value="show_no_link">COM_HELLOWORLD_FIELD_VALUE_NO_LINK
			</option>
			<option value="show_with_link">COM_HELLOWORLD_FIELD_VALUE_WITH_LINK
			</option>
		</field>

		<field
			name="save_history"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="history_limit"
			type="text"
			filter="integer"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
			default="1"
		/>

		<field name="show_HELLOWORLD_list"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			description="COM_HELLOWORLD_FIELD_HELLOWORLD_SHOW_LIST_DESC"
				label="COM_HELLOWORLD_FIELD_HELLOWORLD_SHOW_LIST_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="presentation_style"
		type="list"
			description="COM_HELLOWORLD_FIELD_PRESENTATION_DESC"
			label="COM_HELLOWORLD_FIELD_PRESENTATION_LABEL"
		>
			<option value="sliders">COM_HELLOWORLD_FIELD_VALUE_SLIDERS</option>
			<option value="tabs">COM_HELLOWORLD_FIELD_VALUE_TABS</option>
			<option value="plain">COM_HELLOWORLD_FIELD_VALUE_PLAIN</option>
		</field>

		<field name="show_name"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_HELLOWORLD_FIELD_PARAMS_NAME_LABEL"
			description="COM_HELLOWORLD_FIELD_PARAMS_NAME_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_position"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_HELLOWORLD_FIELD_PARAMS_HELLOWORLD_POSITION_LABEL"
			description="COM_HELLOWORLD_FIELD_PARAMS_HELLOWORLD_POSITION_DESC"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>



		<field name="show_street_address"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1" label="COM_HELLOWORLD_PUBLISHED_STATUS_LABEL"
			description="COM_HELLOWORLD_PUBLISHED_STATUS_LABEL_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_email"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_HELLOWORLD_FIELD_PARAMS_HELLOWORLD_ALIAS"
			description="COM_HELLOWORLD_FIELD_PARAMS_HELLOWORLD_E_MAIL_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>

	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_helloworld"
			section="component" />
	</fieldset>

</config>
