<?xml version="1.0" encoding="utf-8"?>
<config>
        <fieldset name="contact"
                label="COM_HELLOWORLD_FIELD_CONFIG_INDIVIDUAL_HELLOWORLD_DISPLAY"
                description="COM_HELLOWORLD_FIELD_CONFIG_INDIVIDUAL_HELLOWORLD_DESC"
        >

                <field
                        name="contact_layout" type="componentlayout"
                        label="JGLOBAL_FIELD_LAYOUT_LABEL"
                        description="JGLOBAL_FIELD_LAYOUT_DESC"
                        menuitems="true"
                        extension="com_contact"
                        view="contact"
                />
                <field name="show_contact_list"
                        type="radio"
                        class="btn-group btn-group-yesno"
                        default="0"
                        description="COM_HELLOWORLD_FIELD_HELLOWORLD_SHOW_LIST_DESC"
                                label="COM_HELLOWORLD_FIELD_HELLOWORLD_SHOW_LIST_LABEL"
                >
                        <option value="1">JSHOW</option>
                        <option value="0">JHIDE</option>
                </field>
                <field name="show_name"
                        type="radio"
                        class="btn-group btn-group-yesno"
                        default="1"
                        label="COM_HELLOWORLD_FIELD_PARAMS_NAME_LABEL"
                        description="COM_HELLOWORLD_FIELD_PARAMS_NAME_DESC"
                >
                        <option value="1">JSHOW</option>
                        <option value="0">JHIDE</option>
                </field>

                <field name="show_email"
                        type="radio"
                        class="btn-group btn-group-yesno"
                        default="0"
                        label="JGLOBAL_EMAIL"
                        description="COM_HELLOWORLD_FIELD_PARAMS_HELLOWORLD_E_MAIL_DESC"
                >
                        <option value="1">JSHOW</option>
                        <option value="0">JHIDE</option>
                </field>
                <field name="show_mobile"
                        type="radio"
                        class="btn-group btn-group-yesno"
                        default="1"
                        label="COM_HELLOWORLD_FIELD_PARAMS_MOBILE_LABEL"
                        description="COM_HELLOWORLD_FIELD_PARAMS_MOBILE_DESC"
                >
                        <option value="1">JSHOW</option>
                        <option value="0">JHIDE</option>s
                </field>

                <field name="show_country"
                        type="radio"
                        class="btn-group btn-group-yesno"
                        default="1"
                        label="COM_HELLOWORLD_FIELD_PARAMS_COUNTRY_LABEL"
                        description="COM_HELLOWORLD_FIELD_PARAMS_COUNTRY_DESC"
                >
                        <option value="1">JSHOW</option>
                        <option value="0">JHIDE</option>
                </field>
        </fieldset>
        <fieldset name="permissions"
                label="JCONFIG_PERMISSIONS_LABEL"
                description="JCONFIG_PERMISSIONS_DESC"
        >

                <field name="rules"
                        type="rules"
                        label="JCONFIG_PERMISSIONS_LABEL"
                        validate="rules"
                        filter="rules"
                        component="com_helloworld"
                        section="component" />
        </fieldset>

</config>
